.hero-animation {
    position: relative;
    width: 100%;
    background: #fff;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.animation-canvas {
    position: absolute;
    z-index: -1;
}

canvas {
    height: 100vh;
    width: 100vw;
}

.gradient-right {
    justify-content: flex-end;
}


/*Animated Line*/
.line-container {
    display: flex;
    height: 8px;
    width: 100%;
    min-width: 100px;
}

.animated-line {
    height: 100%;
    width: 70%;
    background: linear-gradient(to left, #17406d 0, #75cefb 80%);
    background-size: 200% 200%;
    -webkit-animation: Animation 3s ease infinite;
    -moz-animation: Animation 3s ease infinite;
    animation: Animation 3s ease infinite;
    border-radius: 0 13px 0 13px;
}

@-webkit-keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@-moz-keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}
