.hero-animation {
    position: relative;
    width: 100%;
    background: #fff;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.animation-canvas {
    position: absolute;
    z-index: -1;
}

canvas {
    height: 100vh;
    width: 100vw;
}

.gradient-container {
    display: flex;
    width: 100%;
    height: 10px;
}

.gradient-animation {
    background: linear-gradient(to left, #17406d 0, #009DD9 100%);
    height: 10px;
    width: 60%;
    -webkit-animation: gradientBG 10s ease infinite;
    animation: gradientBG 10s ease infinite;
}

.gradient-right {
    justify-content: flex-end;
}

