:root {
    --primary-color: #072450;
    --secondary-color: #0298d7;
}


.center {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    width: 100%;
}

.left {
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
    width: 50%;
}

.right {
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
    width: 50%;
}

.white {
    color: white;
}

.btn-primary {
    background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));
    background: -o-linear-gradient(to right, #072450, #0298d7);
    background: -moz-linear-gradient(to right, #072450, #0298d7);
    background: linear-gradient(to right, #072450, #0298d7);
    width: 275px;
    height: 45px;
    border: none;
    border-radius: 0 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.btn-quote {
    color: #fff !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    width: 170px;
    height: 35px;
    margin-right: 0 !important;
}

.btn-quote::after {
    background: none !important;
}

.page-heading {
    background-image: url(../img/header.svg);
    margin-top: 82px;
    height: 420px;
    background-position: bottom;
    color: white;
    padding: 5em;
}

/*Animated Line*/
.animated-line {
    height: 100%;
    min-width: 100%;
    background: linear-gradient(130deg, #01017a, #038aff, #2d55ff);
    background-size: 200% 200%;
    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@-moz-keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@media (min-width: 768px) {
    .navbar-nav li a {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .navbar-right {
        display: flex;
        float: right !important;
        margin-right: -15px;
        align-items: center;
        min-height: 50px;
    }
}
