:root {
    --primary-color: #072450;
    --secondary-color: #0298d7;
    --header-color: #134E7D;
    --box-shadow: #EAF0FD;
    --highlight: #12DBA7;
    --text: #546B7E;
}

.same-line-bold {
    font-size: 15px;
    margin: 5px 0;
    font-weight: 800;
    color: var(--secondary-color);
}

.center {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    width: 100%;
}

.left {
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
    width: 50%;
}

.right {
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
    width: 50%;
}


.two-columns {
    padding: 10em 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
}


/*Page headings two columns*/
.page-heading-two-columns {
    display: flex;
}

.page-heading-two-columns .left,
.page-heading-two-columns .right {
    background-repeat: no-repeat;
    height: 600px;
}

.page-heading-two-columns .left {
    flex: 30%;
    background-image: url(../img/Shape.png) !important;
    background-size: cover;
    background-position: right;
    object-fit: contain;
    color: white;
}

.page-heading-two-columns .left .header {
    width:75%;
    margin-top: 50%;
    text-align:center;
}

    .page-heading-two-columns .right {
        flex: 70%;
        background-size: contain;
        background-position: bottom;
        object-fit: contain;
    }

@media (max-width: 768px) {
    .left {
        width: 100% !important;
    }

    .right {
        width: 100% !important;
    }
}

.white {
    color: white;
}

.btn-primary {
    background: -webkit-linear-gradient(to right, var(--primary-color), var(--secondary-color));
    background: -o-linear-gradient(to right, #072450, #0298d7);
    background: -moz-linear-gradient(to right, #072450, #0298d7);
    background: linear-gradient(to right, #072450, #0298d7);
    width: 275px;
    height: 45px;
    border: none;
    border-radius: 0 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

    .btn-primary:hover {
        background: -webkit-linear-gradient(to right, var(--secondary-color), var(--primary-color));
        background: -o-linear-gradient(to right,#0298d7, #072450);
        background: -moz-linear-gradient(to right, #0298d7, #072450);
        background: linear-gradient(to right, #0298d7, #072450);
    }

.secondary-btn {
    width: auto;
    height: 30px;
    border: none !important;
    border-bottom: solid var(--secondary-color) 2px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    background-color: transparent;
    margin: 3em 0;
}

    .secondary-btn:hover {
        border-bottom: solid var(--highlight) 2px;
        color: var(--highlight);
    }

.tertiary-btn {
    font-size: 24px;
    font-weight: 500;
    text-transform: none;
    color: #066994;
    border-bottom: solid #066994 2px;
    width: auto;
    height: 30px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin: 3em 0;
}

    .tertiary-btn:hover {
        border-bottom: solid var(--highlight) 2px;
        color: var(--highlight);
    }


.btn-quote {
    color: #fff !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    width: 170px;
    height: 35px;
    margin-right: 0 !important;
}

    .btn-quote::after {
        background: none !important;
    }

.page-heading {
    background-image: url(../img/header.svg);
    background-size: cover;
    margin-top: 82px;
    height: 420px;
    background-position: bottom;
    color: white;
    padding: 5em;
}

/*Animated Line*/

.line-container {
    position: absolute;
    width: 65vw;
    min-width: 100px;
    height: 9px;
}

.line-left {
    left: 0;
}

.line-right {
    right: 0;
}

.line-center {
    left: 50px;
}

.animated-line {
    height: 100%;
    min-width: 100%;
    background: -webkit-linear-gradient(to right, var(--secondary-color) 35%, var(--primary-color));
    background: -o-linear-gradient(to right,var(--secondary-color) 35%, var(--primary-color));
    background: -moz-linear-gradient(to right, var(--secondary-color) 35%, var(--primary-color));
    background: linear-gradient(to right, var(--secondary-color) 35%, var(--primary-color));
    background-size: 200% 200%;
    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

.card {
    border-radius: 3px 3px;
    box-shadow: 2px 2px 4px 2px var(--box-shadow) !important;
    padding: 2px 15px 4px 15px;
}

@media (min-width: 768px) {
    .navbar-nav li a {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .navbar-right {
        display: flex;
        float: right !important;
        margin-right: -15px;
        align-items: center;
        min-height: 50px;
    }
}



.hidden-element {
    display: none;
}

.to-hide {
    display: block;
}

@media (max-width: 1100px) {
    .hidden-element {
        display: block;
    }

    .to-hide {
        display: none;
    }
}

@media (max-width: 500px) {
    img {
        width: 100% !important;
        height: auto;
    }
}
/*Contact inputs*/
fieldset {
    display: flex;
    flex-direction: column-reverse;
    min-width: 100%;
    padding-bottom: 1em;
}

fieldset label,
fieldset input,
fieldset textarea {
    width: 100%;
    min-width: 100%;
}

fieldset input {
    color: #046096;
    font-weight: 600;
}

    fieldset input::placeholder,
    fieldset textarea::placeholder {
        color: #046096;
        font-weight: 500;
    }

fieldset textarea {
    color: #046096;
    font-weight: 500;
}

    fieldset input,
    fieldset textarea,
    .contact-submit-button {
        border-color: lightgrey;
        border-width: 0px;
        border-radius: 3px 3px;
        box-shadow: 2px 2px 4px 2px var(--box-shadow) !important;
        padding: 2px 15px 4px 15px;
    }

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
    border-color: #4BAEDA !important;
    border-width: 1px !important;
    box-shadow: none !important;
    border-radius: 2px 15px !important;
}


.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/cta-footer-bg.svg);
    background-position: top,right;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-items {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin-top: 1em;
}

.footer-logo {
    /*margin-left: 90px;*/
    width: 30vw;
    min-width: 400px;
    padding: 3vw 0 10vw 3vw;
}

.footer-cta {
    margin: auto;
    padding-top: 10vw;
    padding-bottom: 20px;
    width: 65%
}

.footer-cta-header,
.footer-cta-decription {
    color: white;
}


.footer-cta-button,
.footer-cta-button:hover {
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

.footer-links {
    position: center;
    max-width: 850px;
    padding-bottom: 20px;
    padding-top: 50px;
    margin: auto;
    width: 75%;
}


.footer-links-container {
    float: right;
    padding: 10em 0 5em 0;
    height: auto;
}

.footer-links a {
    font-size: 14px;
    padding: 5px 0 5px 5px;
    display: block;
    color: white;
    text-align: right;
}

.no-wrap {
    white-space: nowrap;
}

/*Tablets*/
@media (max-width: 1100px) {
    .two-columns {
        padding: 6em 1em !important;
        flex-direction: column;
        align-items: center !important;
    }

    .left {
        width: auto;
    }

    .right {
        width: auto;
    }

    .footer-logo {
        width: max(100px, 30vw) !important;
        min-width: 170px;
    }

    .footer-cta {
        width: 80%;
        padding-top: calc(50px + 10vw);
    }

    .footer-cta-header {
        font-size: min(calc(12px + 1.5vw), 25px) !important;
    }

    .footer-cta-decription {
        font-size: min(calc(10px + 1vw), 20px)
    }

    .footer-cta-button {
        width: min(80vw, 275px);
    }

    .footer-links-container {
        padding-top: 5em !important;
    }
}

/*Phones*/
@media (max-width: 800px) {
}
