.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 540px;
}

.body{
    display:block;
}

.contact-body,
.line-container

.contact-body {
    display: flex;
    flex-direction: column;
}

.contact-form-header,
.form-elements,


/*Contact Cards*/
.contact-items {
    display: block;
    margin-bottom: 20px;
    overflow-clip-margin: 5px;
    padding: 2em 0;

}

.contact-item {
    display:inline-block;
    width:500px;
    max-width: 48%;
    padding: 20px 20px 50px 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align:center;
   
}


#email-link {
    margin-left: 0 !important;
    /*margin-right: auto;*/
}

#phone-link {
    margin-left:auto;
    margin-right: 0 !important;
    float:right;
}

.contact-item-img {
    order: 1;
    max-height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.contact-item-label {
    order: 2;
    text-align:center;

}

/*Contact Form*/

.form-elements{
    padding-bottom:1em;
}
.contact-item *,
fieldset label {
    color: #818181;
    font-weight: bold;
}


.contact-item-link {
    order: 3;
    text-align: center;
}
.contact-header {
  /* */ margin-top: 100px;
    margin-bottom: 20px;
    padding: 5em 0;
}

.contact-item-link a,
.contact-number,
.contact-input-number {
    color: #289FD3;
}


.contact-header-description {
    color: #4D7A9D;
    font-weight:400;
}

.contact-item {
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px var(--box-shadow) !important;
    margin: 10px 0 10px 0;
    padding: 20px 0 20px 0;
}
.contact-form {
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px var(--box-shadow) !important;
    padding: 35px 0 30px 0;
    margin: 2em 0 12em 0;
}

    .contact-header-heading,
    .contact-form-header {
        color: #134E7D;
        font-size: 30px;
        font-weight: bold;
    }

.honeypot-field {
    display: none;
}

.contact-submit-button {
    background-color: #134E7D;
    border-radius: 5px;
    color: white;
    align-self: flex-start;
    margin: 2em 0;
}

    .contact-submit-button:hover {
        background-color: white;
        color: #134E7D;
    }

    .contact-submit-button:active {
        background-color: #289FD3;
        color: white;
        
    }

@media(max-width:767px) {

    .contact-body {
        width: 90%;
    }
    .contact-header,
    .contact-form-header {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-item {
        min-width: 100%;
        color: red !important;
        border-width: 5px !important;
    }
    .contact-header-heading,
    .contact-form-header {
        font-size: 20px !important;
    }

    .contact-header-description-break {
        display: none;
    }



    input::placeholder,
    textarea::placeholder{
        font-size:14px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

label {
    text-align: -webkit-left;
    text-align: left;
    text-align: -moz-left;
}

input,
textarea {
    width: 90%;
    border-radius: 2px 15px !important;
}

input,
textarea {
    width: 90%;
    border-radius: 2px 15px !important;
}