.body{
    display:block;
}

.contact-body,
.line-container
#footer-links{
    margin: auto;
    width: 75%;
    max-width:850px;
}
.contact-body {
    display: flex;
    flex-direction: column;
}

.contact-form-header,
.form-elements,
#footer-links {
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
}

/*Contact Cards*/
.contact-items {
    display: block;
    margin-bottom: 20px;
    overflow-clip-margin: 5px;
    padding: 2em 0;

}

.contact-item {
    display:inline-block;
    width:500px;
    max-width: 48%;
    padding: 20px 20px 50px 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align:center;
   
}


#email-link {
    margin-left: 0 !important;
    /*margin-right: auto;*/
}

#phone-link {
    margin-left:auto;
    margin-right: 0 !important;
    float:right;
}

.contact-item-img {
    order: 1;
    max-height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.contact-item-label {
    order: 2;
    text-align:center;

}

/*Contact Form*/
.contact-item *,
fieldset label
{
    color: #818181;
    font-weight: bold;
}


.contact-item-link {
    order: 3;
    text-align: center;
}
.contact-header {
  /* */ margin-top: 100px;
    margin-bottom: 20px;
    padding: 5em 0;
}

.contact-item-link a,
.contact-number,
.contact-input-number {
    color: #289FD3;
}


/*
    A + B
    Select element B whose previous element is A
*/
.contact-input:not(:placeholder-shown) + .contact-input-label .contact-input-number,
.contact-textarea:not(:placeholder-shown) + .contact-input-label .contact-input-number {
    color: #FBBE2F;
}

#contact-header-description {
    color: #4D7A9D;
    font-weight:400;
}

.contact-item {
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px var(--box-shadow) !important;
    margin: 10px 0 10px 0;
    padding: 20px 0 20px 0;
}
.contact-form {
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px var(--box-shadow) !important;
    padding: 35px 0 30px 0;
    margin: 2em 0 12em 0;
}

    #contact-header-heading,
    .contact-form-header {
        color: #134E7D;
        font-size: 30px;
        font-weight: bold;
    }



.contact-field {
    display: flex;
    flex-direction: column-reverse;
    min-width: 100%;
}

fieldset label,
fieldset input,
fieldset textarea{
    width:100%;
    min-width:100%;
}

fieldset input {
    color: #046096;
    font-weight: 600;
}
    fieldset input::placeholder,
    fieldset textarea::placeholder {
        color: #046096;
        font-weight: 500;
    }

fieldset textarea {
    color: #046096;
    font-weight: 500;
}
fieldset input,
fieldset textarea,
#contact-submit-button {
    border-color: lightgrey;
    border-width: 0px;
    border-radius: 3px 3px;
    box-shadow: 2px 2px 4px 2px var(--box-shadow) !important;
    padding: 2px 15px 4px 15px;
}


.honeypot-field {
    display: none;
}


input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
    border-color: #4BAEDA !important;
    border-width: 1px !important;
    box-shadow: none !important;
    border-radius: 2px 15px !important;
}



#contact-submit-button {
    background-color: #134E7D;
    border-radius: 5px;
    color: white;
}

    #contact-submit-button:hover {
        background-color: white;
        color: #134E7D;
    }

    #contact-submit-button:active {
        background-color: #289FD3;
        color: white;
    }

/**Footer*/

#contact-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/cta-footer-bg.svg);
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;

}

#contact-footer-items {
    display: block;
    vertical-align: middle;
    margin-top: 1em;
}
#footer-logo {
    margin-left: 90px;
    max-width: 237px;
    padding: 14px 0;
}
#footer-links{
    position:center;
    max-width:850px;
    padding-bottom:20px;
    padding-top:50px;
    color:red
}


#footer-links-container {
    float: right;
    margin-top: 12em;
}

#footer-links a{
    padding: 5px 0 5px 5px;
    display:block;
    color:white;
    text-align:right;
}



@media(max-width:767px) {

    .contact-body {
        width: 90%;
    }
    .contact-header,
    .contact-form-header {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-item {
        min-width: 100%;
        color: red !important;
        border-width: 5px !important;
    }
    #contact-header-heading,
    .contact-form-header {
        font-size: 20px !important;
    }

 /*   .contact-form-header{
        text-align:center;
    }*/
    #contact-header-description-break {
        display: none;
    }

/*    .line-container {
        margin-left: -10vw;
        width: 110vw;
        min-width: 100px;
        height: 6px;
    }*/
    .contact-form-header,
    .form-elements,
    #footer-links {
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }

    input::placeholder,
    textarea::placeholder{
        font-size:14px;
    }
    
    .footer-link{
        font-size:12px;
    }

    #footer-logo{
        margin-left:2%;
        min-width:120px;
        max-width:300px;
        width:40%;
    }
}

