#hero {

}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 850px;
}



.two-columns {
    padding: 10em 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
}


@media (max-width: 1100px) {
    .two-columns {
        padding: 6em 1em !important;
        flex-direction: column;
    }

    .left {
        width: auto;
    }
    .right { width: auto;}
}
