.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 850px;
}

.hero-header {
    padding: 2em;
    width: 1100px
}

.hero-btn {
    align-self: flex-end;
    width: 40%;
}

/*Tablets*/
@media (max-width: 1100px) {
    .hero-header {
        width: 90%;
    }
}

/*Phones*/
@media (max-width: 800px) {
    .hero-btn {
        align-self: auto;
        width: auto;
    }
}

/*Smaller Phones*/
@media (max-width: 500px) {

}