.page-heading-two-columns {
    background-image: url(../img/how-we-work-stock.png) !important;
}

.main-content{
    margin-top:15em;
    height:2200px;

}
img {
    position: absolute;
    z-index: -1;
    height: 1800px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
}

.background {
    border: solid 3px black ;
}
.card-container {
    display:flex;
    flex-direction:column;
    width: 1000px;

    max-width: 80vw;
    margin:auto;
    padding: 0 1em 4em 1em;
}
.card {
    width: 650px;
    height:400px;
    margin: 0 0 5em 0;
    font-weight:600;
}
    .card.left {
        align-self: flex-start;
        text-align:right;
    }
    .card.right {
        align-self: flex-end;
        text-align: left;
    }
    .reveal {
        position: relative;
        opacity: 0;
        transition: 2s all ease;
    }
        .card.right.reveal {
            transform: translateX(50%);
        }
        .card.left.reveal {
        transform: translateX(-50%);
}
    .reveal.active {
        /*transform: translateY(0);*/
        opacity: 1;
    }
        .card.right.reveal.active {
            transform: translateX(0);
        }

        .card.left.reveal.active {
            transform: translateX(0);
        }

/*Blocks for spacing*/
.empty-space#consultation-scoping {
   height:80px;
}
.empty-space#scoping-development {
    height: 60px;
}
.empty-space#development-support {
    height: 70px;
}
.empty-space#suppport {
    height: 80px;
}

/*FAQ*/
.card.faq{
   margin:auto;
}

/*place checkbox behind label*/
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}


.faq-elements {
    border-radius: 8px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.faq-element {
    width: 100%;
    color: white;
    overflow: hidden;
}

.faq-element-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: black;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
}

    .faq-element-label:hover {
        background: blue;
    }

    .faq-element-label::after {
        content: "❯";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
    }

.faq-element-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}

input:checked + .faq-element-label {
    background: green;
}

    input:checked + .faq-element-label::after {
        transform: rotate(90deg);
    }

input:checked ~ .faq-element-content {
    max-height: 100vh;
    padding: 1em;
}
