.page-heading-two-columns {
    background-image: url(../img/how-we-work-stock.png) !important;
}
.card-container {
    display:flex;
    flex-direction:column;
    width: 50%;

    max-width: 80vw;
    margin:auto;
    padding: 4em 1em 4em 1em;
}
.card {
    width: 70%;
    max-width: 600px;
    margin: 5em 0 5em 0;
}
    .card.right {
        align-self: flex-start;
    }
    .card.left {
        align-self: flex-end;
    }
    .reveal {
        position: relative;
        opacity: 0;
        transition: 2s all ease;
    }
        .card.right.reveal {
            transform: translateX(50%);
        }
        .card.left.reveal {
        transform: translateX(-50%);
}
    .reveal.active {
        /*transform: translateY(0);*/
        opacity: 1;
    }
        .card.right.reveal.active {
            transform: translateX(0);
        }

        .card.left.reveal.active {
            transform: translateX(0);
        }
    




