img-logo {
	position: relative;
	max-width: 20%;
	margin-bottom: 2px;
}

body, html {
	font-family: 'Poppins', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: var(--text);
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}



h1, h2, h3, h4 {
	font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 46px;
    color: var(--header-color);
    line-height: 1.5;
}

h2 {
	font-size: 30px;
	color: var(--header-color);
    line-height: 1.5;
}

/*Subheading*/
h3 {
	font-size: 18px;
	font-weight: 600;
	color: var(--secondary-color);
    line-height: normal;
}
h4 {
    font-size: 14px;
    font-weight: 800;
    color: var(--secondary-color);
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 14px;
	color: var(--text);
	line-height: normal;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #608dfd;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #608dfd;
}
ul, ol {
	list-style: none;
	margin-left: 20px;
	padding: 1em 0;
    list-style-image: url('../img/bullet.png');
}

.bullet {
    margin: 15px 0;
}

hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
/* Navigation */
#menu {
	padding: 15px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgba(2,144,206,0.2)
}
#menu a.navbar-brand {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #333;
	/* color: #5ca9fb; */
}
.span-bracket{
	font-family: 'Poppins', sans-serif;
	color: #6372ff;
	font-size: 35px;
	padding: 0px 0px;
	font-weight: 400;
}

.span-2{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 200;
	color: #6372ff;
}

.nav {
    padding: 0 !important;
}

.nav li a {
	padding-right: 0;
    margin-right: 25px;
}

#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	color: #11476C;
	font-size: 10px;
	font-weight: 600;
}
	#menu.navbar-default .navbar-nav > li > a:after {
		display: block;
		position: absolute;
		bottom: 2px;
        margin-right: 25px;
		width: 0;
		height: 1px;
		background: linear-gradient(to right, #17406d 0, #009DD9 100%);
		content: "";
		transition: width 0.2s;
	}
#menu.navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #608dfd;
}
.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}
.section-title p {
	font-size: 18px;
}

.btn-custom {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #5ca9fb;
	background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	padding: 14px 34px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 0.5s linear;
	border: 0;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-image: none;
	background-color: #6372ff;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
}

