<div class="footer">
    <div class="footer-container">

            <div class="footer-row">
                <div class="footer-column">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">HOME</NavLink>
                    <NavLink class="nav-link" href="how-we-work">HOW WE WORK</NavLink>
                </div>
                <div class="footer-column">
                    <NavLink class="nav-link" href="about">ABOUT</NavLink>
                    <NavLink class="nav-link" href="contact">CONTACT US</NavLink>
                </div>
            </div>


        <a href="" class="navbar-brand footer-row">
            <img class="img circle-logo" style="height:2rem" src="/src/circle-logo.png" alt="ode2code Fav">
            <img class="img logo" style="height:4rem" src="/src/ode2code-logo-dark.png" alt="ode2code Logo">
        </a>

        <p>Terms and Conditions</p>
    </div>
</div>

@code {

}
