@inherits LayoutComponentBase

<div class="page">

    <div class="main">

        <div class="top-row px-4">
            <ul class="nav flex-row">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="about">About</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="how-we-work">How We Work</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="contact">Contact</NavLink>
                </li>
            </ul>
        </div>

        @*<NavMenu></NavMenu>*@

        <div class="content px-4">
            @Body
        </div>

        <div>
           
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}