<div class="top-row pl-5 navbar">

    <a href="" class="navbar-brand">
        <img class="img circle-logo" src="/src/circle-logo.png" alt="ode2code Fav">
        <img class="img logo" src="/src/ode2code-logo-dark.png" alt="ode2code Logo">
    </a>

   
        <ul class="nav flex-row px-4">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">HOME</NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="about">ABOUT</NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="how-we-work">HOW WE WORK</NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="contact">CONTACT</NavLink>
            </li>
        </ul>


</div>


@code {

}
