@page "/how-we-work"

<h1 class="section-heading">How We Work</h1>

<div>
    <h5>Planning</h5>
    <h5>Wireframes</h5>
    <h5>Design</h5>
    <h5>Development</h5>
    <h5>Deployment</h5>
    <h5>Quality Assurance</h5>
    <h5>Support and Maintenance</h5>
</div>

<Footer></Footer>

@code {

}
