@page "/how-we-work"

<h1>How We Work</h1>

<div>
    <h2>Planning</h2>
    <h2>Wireframes</h2>
    <h2>Design</h2>
    <h2>Development</h2>
    <h2>Deployment</h2>
    <h2>Quality Assurance</h2>
    <h2>Support and Maintenance</h2>
</div>

@code {

}
