@page "/how-we-work"

<div class="section hww">
    <h1 class="section-heading-dark" style="padding-bottom:2.5em;">How We Work</h1>

    <div class="vl"></div>

    <div>
        <h5>Planning</h5>
        <h5>Wireframes</h5>
        <h5>Design</h5>
        <h5>Development</h5>
        <h5>Deployment</h5>
        <h5>Quality Assurance</h5>
        <h5>Support and Maintenance</h5>
    </div>

    <div class="footer-row">
        <div class="footer-column">
            <p>HOME</p>
            <p>HOW WE WORK</p>
        </div>
        <div class="footer-column">
            <p>ABOUT</p>
            <p>CONTACT US</p>
        </div>
    </div>
</div>

<Footer></Footer>

@code {

}
