@page "/"

<div class="hero"  style="align-content:center">
    <h6 class="section-heading-dark">Providing bespoke software solutions using the Microsoft technology stack.</h6>
    <div><a href="contact" class="btn-o2c">GET IN TOUCH</a></div>
</div>

<div class="section">
    <h1 class="section-heading">Our Approach</h1>
</div>

<div class="section">
    <h1 class="section-heading">What We Do</h1>
    <div>

    </div>
</div>

<div class="section">
    <h1 class="section-heading">CTA Section</h1>
</div>