@page "/"

<div class="section hero" style="align-content:center">
    <div style="display: inline-block; align-content: center; text-align: center; width: 60%;">
        <h6 class="hero-font">Providing bespoke software solutions using the Microsoft technology stack.</h6>
        <div><a href="contact" class="hero-btn">FIND OUT MORE</a></div>
    </div>
</div>

<div class="section">
    <div style="width:50%; text-align:left">
        <h1 class="section-heading">Our Approach</h1>
    </div>

    <div>
        <p class="index-text">
            Cake candy lollipop topping apple pie lemon drops. Biscuit carrot cake chocolate jelly beans oat cake.
            Tart liquorice bear claw pastry chocolate bar. Bear claw pudding jelly beans candy canes tiramisu brownie
            chocolate cake oat cake carrot cake. Candy chocolate halvah marzipan fruitcake. Macaroon gummies lemon drops.
            Macaroon gummi bears jujubes sweet roll cookie pastry.
        </p>
        <p class="index-text">
            Macaroon cookie carrot cake. Dragée jelly beans tart marshmallow soufflé topping biscuit.
            Ice cream croissant gummi bears jelly-o chocolate cake topping. Tart dessert danish jujubes fruitcake
            apple pie topping cheesecake. Pastry donut carrot cake. Sugar plum apple pie jelly jujubes ice cream chocolate
            cake soufflé. Ice cream sesame snaps candy canes. Pie icing brownie ice cream pastry cupcake topping lollipop cake.
            Sweet roll wafer brownie halvah dragée topping chocolate jelly jelly-o. Candy dragée danish macaroon cheesecake soufflé.
        </p>
    </div>
</div>

<div class="section">
    <div style="width:50%; text-align:left">
        <h1 class="section-heading">What We Do</h1>
    </div>
    
    <div>
        <p class="index-text">
            ode2code is a software development company. We build robust and reliable software that scales. We develop, test, and deliver your projects quickly and reliably.
        </p>
        <p class="index-text">
            Macaroon cookie carrot cake. Dragée jelly beans tart marshmallow soufflé topping biscuit.
            Ice cream croissant gummi bears jelly-o chocolate cake topping. Tart dessert danish jujubes fruitcake
            apple pie topping cheesecake. Pastry donut carrot cake. Sugar plum apple pie jelly jujubes ice cream chocolate
            cake soufflé. Ice cream sesame snaps candy canes. Pie icing brownie ice cream pastry cupcake topping lollipop cake.
            Sweet roll wafer brownie halvah dragée topping chocolate jelly jelly-o. Candy dragée danish macaroon cheesecake soufflé.
        </p>
    </div>

    <div style=" text-align: center; padding-top: 6rem; padding-bottom:4rem; display: inline-block; flex-direction: row; justify-content: center; height: 4rem; display: flex; align-items: center;">
        <div style=" height: 9rem; width: 9rem; margin-right: 2rem; margin-left: 2rem; ">
            <img src="/src/asp-net-core-logo.png" style="width:inherit"/>
        </div>
        <div style=" height: 9rem; width: 9rem; margin-right: 2rem; margin-left: 2rem; ">
            <img src="/src/azure-logo.png" style="width:inherit"/>
        </div>
        <div style=" height: 9rem; width: 9rem; margin-right: 2rem; margin-left: 2rem;">
            <img src="/src/sql-server-logo.png" style="width:inherit"/>
        </div>
    </div>
  
</div>

<div class="section cta">
    <h1 class="section-heading-dark">CTA Section</h1>
    <div><a href="contact" class="btn-o2c">GET IN TOUCH</a></div>
</div>


<Footer></Footer>