@page "/"

<div class="section hero" style="align-content:center">
    <h6 class="section-heading-dark">Providing bespoke software solutions using the Microsoft technology stack.</h6>
    <div><a href="contact" class="btn-o2c">GET IN TOUCH</a></div>
</div>

<div class="section">
    <h1 class="section-heading">Our Approach</h1>
    <div>
        <p class="section-text">
            Cake candy lollipop topping apple pie lemon drops. Biscuit carrot cake chocolate jelly beans oat cake.
            Tart liquorice bear claw pastry chocolate bar. Bear claw pudding jelly beans candy canes tiramisu brownie
            chocolate cake oat cake carrot cake. Candy chocolate halvah marzipan fruitcake. Macaroon gummies lemon drops.
            Macaroon gummi bears jujubes sweet roll cookie pastry.
            <n />
            <n />
            Macaroon cookie carrot cake. Dragée jelly beans tart marshmallow soufflé topping biscuit.
            Ice cream croissant gummi bears jelly-o chocolate cake topping. Tart dessert danish jujubes fruitcake
            apple pie topping cheesecake. Pastry donut carrot cake. Sugar plum apple pie jelly jujubes ice cream chocolate
            cake soufflé. Ice cream sesame snaps candy canes. Pie icing brownie ice cream pastry cupcake topping lollipop cake.
            Sweet roll wafer brownie halvah dragée topping chocolate jelly jelly-o. Candy dragée danish macaroon cheesecake soufflé.
        </p>
    </div>
</div>

<div class="section">
    <h1 class="section-heading">What We Do</h1>
    <div>
        <p class="section-text">
            Cake candy lollipop topping apple pie lemon drops. Biscuit carrot cake chocolate jelly beans oat cake.
            Tart liquorice bear claw pastry chocolate bar. Bear claw pudding jelly beans candy canes tiramisu brownie
            chocolate cake oat cake carrot cake. Candy chocolate halvah marzipan fruitcake. Macaroon gummies lemon drops.
            Macaroon gummi bears jujubes sweet roll cookie pastry.
            <n />
            <n />
            Macaroon cookie carrot cake. Dragée jelly beans tart marshmallow soufflé topping biscuit.
            Ice cream croissant gummi bears jelly-o chocolate cake topping. Tart dessert danish jujubes fruitcake
            apple pie topping cheesecake. Pastry donut carrot cake. Sugar plum apple pie jelly jujubes ice cream chocolate
            cake soufflé. Ice cream sesame snaps candy canes. Pie icing brownie ice cream pastry cupcake topping lollipop cake.
            Sweet roll wafer brownie halvah dragée topping chocolate jelly jelly-o. Candy dragée danish macaroon cheesecake soufflé.
        </p>
    </div>
    <Columns></Columns>
</div>

<div class="section cta">
    <h1 class="section-heading-dark">CTA Section</h1>
    <div><a href="contact" class="btn-o2c">GET IN TOUCH</a></div>
</div>


<Footer></Footer>