@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <NavMenu></NavMenu>

        <div class="content" style="padding-left:0rem !important; padding-right:0rem !important; align-items:center">
            @Body
        </div>

    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}