@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, Poppins;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 0rem;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
    padding-bottom:0rem !important;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

div > .footer {
   padding-bottom: 0rem !important;
   align-content:center;
}



.btn-o2c {
    background-image: linear-gradient(to right, #072450 5%, #289fb1 100%);
    background-color: #072450;
    position: relative;

    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
   
    border: 1px solid #00dff8;
    display: inline-block;
    color: #ffffff;
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    height: 45px;
    line-height: 45px;
    width: 158px;
    text-decoration: none;
    text-align: center;
}

    .btn-o2c:hover {
        background-image: linear-gradient(to right, #072450 5%, #289fb1 100%);
        background-color: #289fb1;
        display: inline-block;
        color: #ffffff;
        font-family: Poppins;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        height: 45px;
        line-height: 45px;
        width: 158px;
        text-decoration: none;
        text-align: center;
        border: 1px solid #ffffff;
    }

.btn-o2c:active {
    position: relative;
    top: 1px;
}

.section {
    padding: inherit;
    padding-top: 4em;
    padding-bottom: 6em;
    padding-left: 15rem;
    padding-right: 15rem;
    align-content:center;
}

.nz-section {
    width: 100%;
    padding: inherit;
    padding-top: 4em;
    padding-bottom: 6em;
    padding-left: 15rem;
    padding-right: 15rem;

    background-image: url("../src/NZ-space.jpg");
    min-height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    padding-left: 0;
    padding-right: 0;
    background-image: url("../src/hero-img.jpg");
    
    min-height: 43rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta {
    padding-left: 0;
    padding-right: 0;
    background-image: url("../src/CTA-background.png");
    min-height: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-heading {
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
}
    .section-heading-dark {
        color: white;
        text-align: center;
        font-family: Poppins;
        font-size: 1.5rem;
    }

.section-text {
    font-size: medium;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
    .section-text-dark {
        color:white;
        font-size: medium;
        padding-left: 3rem;
        padding-right: 3rem;
    }


.footer {
    height: 13rem;
    background-color: #0D1732;
    color: white;
    font-family:Poppins;
    font-size:0.8rem;
}

.footer-container {
    padding-top:1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: auto;
    text-align: center;
    align-items: center;
}

.footer-row {
    display: inline-block;
    align-content: center;
    width: 50%;
}
.footer-row:after {
    content: "";
    display: table;
    clear: both;
}

.footer-column {
    float: left;
    width: 50%;
}

@media (max-width: 1100px) {
    .section {
        padding-left: 0;
        padding-right: 0;
    }
}