@page "/how-we-work"

<div class="section hww">
    <h1 class="section-heading-dark">How We Work</h1>

    <div class="vl"></div>

    <div class="footer-container hww-container">

        <div class="footer-row hww-row">
            <div class="footer-column col-left">
                <h5>Planning</h5>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Nunc et tortor ut sapien fringilla blandit.</li>
                    <li>Aenean dapibus augue mattis nulla commodo condimentum.</li>
                </ul>
            </div>
            <div class="footer-column col-right">
                <img src="/src/plan-white.png" style="width:12em;"/>
            </div>
        </div>

        <div class="footer-row hww-row">
            <div class="footer-column col-left">
                <img src="/src/wireframe-white.png" style="width:9em;"/>
            </div>
            <div class="footer-column col-right">
                <h5>Wireframes</h5>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Nunc et tortor ut sapien fringilla blandit.</li>
                    <li>Aenean dapibus augue mattis nulla commodo condimentum.</li>
                </ul>
            </div>
        </div>

        <div class="footer-row hww-row">
            <div class="footer-column col-left">
                <h5>Design</h5>
                <ul>
                    <li>Understanding your needs enables us to truly capture your business requirements in the software architecture and designs.</li>
                </ul>
            </div>
            <div class="footer-column col-right">
                <img src="/src/design-white.png" style="width:12em;" />
            </div>
        </div>

        <div class="footer-row hww-row">
            <div class="footer-column col-left">
                <img src="/src/dev-white.png" style="width:12em;" />
            </div>
            <div class="footer-column col-right">
                <h5>Development</h5>
                <ul>
                    <li>Our developers can build your custom software to your specifications utilizing the .NET and Azure technology stack.</li>
                </ul>
            </div>
        </div>

        <div class="footer-row hww-row">
            <div class="footer-column col-left">
                <h5>Deployment</h5>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Nunc et tortor ut sapien fringilla blandit.</li>
                    <li>Aenean dapibus augue mattis nulla commodo condimentum.</li>
                </ul>
            </div>
            <div class="footer-column col-right">
                <img src="/src/deploy-white.png" style="width:12em;" />
            </div>
        </div>

        <div class="footer-row hww-row">
            <div class="footer-column col-left">
                <img src="/src/qa-white.png" style="width:12em;" />
            </div>
            <div class="footer-column col-right">
                <h5>Quality Assurance</h5>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Nunc et tortor ut sapien fringilla blandit.</li>
                    <li>Aenean dapibus augue mattis nulla commodo condimentum.</li>
                </ul>
            </div>
        </div>

        <div class="footer-row hww-row">
            <div class="footer-column col-left">
                <h5>Support and Maintenance</h5>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Nunc et tortor ut sapien fringilla blandit.</li>
                    <li>Aenean dapibus augue mattis nulla commodo condimentum.</li>
                </ul>
            </div>
            <div class="footer-column col-right">
                <img src="/src/support-white.png" style="width:12em;" />
            </div>
        </div>

    </div>
    
</div>

<Footer></Footer>

@code {

}
