@page "/press-news"

<div class="content">
    <h3 class="section-heading">ode2code News</h3>
    <p class="card-subtitle">All the recent news in one place.</p>

    <div class="list-group">
        <div class="list-group-item">
            Test
        </div>
        <div class="list-group-item">
            Test
        </div>
        <div class="list-group-item">
            Test
        </div>

    </div>

</div>

<Footer></Footer>


@code {

}
